<div class="row">
  <div class="col-xs-12" align="center" >
    <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.error_notification %>
    <div class="container-button">
      <div class="form-inputs">
        <%= f.input :description %>
        <%= f.association :ingredient, as: :select %>
      </div>
    </div>
    <div class="container-button">
      <div class="btn-medium">
        <%= f.submit 'Create Dose', :class => 'btn', style:"color: grey" %>
      </div>
    </div>
  </div>
</div>
<% end %>
